@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComparacaoPrecos</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComparacaoPrecos.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <a class="navbar-brand text-primary fw-semibold" asp-area="" asp-page="/Index">ComparacaoPrecos</a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white text-primary" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-primary" asp-area="" asp-page="/Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white text-primary" href="#" id="produtoDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Produtos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Produto" asp-action="Index">Listar Produtos</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a class="dropdown-item" asp-controller="Produto" asp-action="Create">Criar Produto</a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white text-primary" href="#" id="lojaDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Lojas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Loja" asp-action="Index">Listar Lojas</a></li>
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white text-primary" href="#" id="userDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Utilizadores</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Listar Utilizadores</a></li>
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Create">Criar Utilizador</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                    <div class="d-flex">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ComparacaoPrecos - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <footer class="bg-dark text-white border-top footer text-muted">
        <div class="container">
            <span class="text-white">&copy; 2025 - ComparacaoPrecos - </span>
            <a asp-area="" asp-page="/Privacy" class="text-primary ms-1 text-decoration-none">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
