@model IEnumerable<Produto>

@{
    ViewData["Title"] = "Produtos";
    Layout = "_Layout";
}

<h1>Lista de Produtos</h1>

<div style="display: flex; flex-wrap: wrap; gap: 10px;">
    @foreach (var produto in Model)
    {
        <a href="/produto/@produto.ProdutoID" style="text-decoration: none; color: inherit;">
            <div style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; cursor: pointer; width: 200px; text-align: center; background-color: #f9f9f9;">
                <strong>@produto.Nome</strong>
            </div>
        </a>
    }
</div>
