@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Pedro Freitas Nº27021, Sofia Sousa Nº23435, Carlos Veloso Nº28240, Sérgio Gabriel Nº28251, João Fernandes Nº29964</p>
