@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Quando vos aprouver criar conta nesta mui distinta plataforma, é mister que dispenseis o devido apreço à nossa obra, julgando-a com a mais elevada das avaliações, qual seja, vinte sobre vinte, como reza a justa medida da excelência. #cruzeslindo #forTheWin #20</p>
