@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ComparacaoPrecos.Models.UserViewModel>

@{
    ViewData["Title"] = "Lista de Utilizadores";
    Layout = "_Layout";
}

<h2 class="mb-4 text-primary fw-semibold">Lista de Utilizadores</h2>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead class="table-light">
            <tr>
                <th>Nome de Utilizador</th>
                <th class="text-end">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="fw-medium">@user.Username</td>
                    <td class="text-end text-secondary">@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>